* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.index {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #221636;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #221636;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Alogin{
    background-color: #221636;
}

.Alogin:hover{
    color: white;
    background-color: #9370DB;
    border-radius: 28px;
}

.cabecalho {
    background-color: #221636;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: #f9f9f9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}



.dropdown {
    font-size: 16px;
    color: white;
    text-align: right;
    width: 10px;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropbtn {
    padding: 14px;
    cursor: pointer;
    
}




.dropdown:hover .dropbtn {
    background-color: #9370DB;
    border-radius: 28px;

}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 14px;
    background-color: #221636;
    min-width: 160px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #7B68EE;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.login{
    font-size: 20px;
    cursor: pointer;
    margin-left: -5%;
    background-color: #7B68EE;
    border-radius: 28px;
    padding: 14px 16px;
    color: white;
}


.vertical-menu {
    float: left;
    width: 30%;
    height: 300px;
    background: #221636;
    padding: 20px;
    /* text-align: center; */
}

.vertical-menu a {
    background-color: #221636;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;

}

.vertical-menu a:hover {
    background-color: #7B68EE;
}

.gif-vertical{
    margin-left: 91%;
    margin-top: -121%;
    
}

#machado{
    margin-left: 96%;
    margin-top: -121%;
    transform: rotate3d(1, 1, 1, 45deg);
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #221636;
    line-height: 30px;
    color: white;
}

.video{
    height: 90%;
    width: 70%;
}

section {
    flex: 1;
    padding: 20px;
    background-color: #221636;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
}

aside {
    flex-basis: 300px;
    background-color: #221636;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


footer {
    background-color: #221636;
    padding: 10px;
    text-align: center; 
    color: white;
    
}


#animacao{
    width: 220px;
    height: 220px;
    position: relative;
    animation: animacao 10s infinite ease-in-out;
    background-image: url(../_img/aloy-fugindo.gif);
    background-repeat: no-repeat ;
    background-size: contain;
}



@keyframes animacao {
    
    0%{
        transform: translate(0px,0px) rotateY(0deg) ;
    }
    25%{
         transform: translate(80vw,0px) rotateY(0deg); 
        
    }
    50%{
         transform: translate(80vw,0px) rotateY(180deg);  
    } 
    75%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    
    100%{
        transform: translate(0px,0px) rotateY(0deg);
    } 
}


